<!DOCTYPE html>
<html lang="ro-RO">

<head>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <meta charset="utf-8">
    <title>Library</title>
</head>

<body class="welcome">
    <%- body -%>
</body>

</html>