<div class="index-container">
    <h1 class="title">Home</h1>
    <div class="index-content-main">

        <div class="index-content_1">
            <div class="indent">
                <p>County Library „Gh. Asachi ”Iaşi is a public library structured according to its encyclopedic profile and aims to be available to the community through the services and programs offered, meeting the need for information, education, and
                    recreation of citizens.</p>

                <p>In the information age, everything is going at a brisk pace. The library, an institution through a conservative tradition, is subject to intense social and cultural pressure, its purpose as an institution of culture and education being
                    extended through modern information and counseling services.
                </p>
                <p>According to the most knowledgeable specialists, the current public library must fulfill the following desideratum: </p>
            </div>
            <ul>
                <li>
                    <p>to make available to readers up-to-date cultural and information documents, in the widest possible formats;</p>
                </li>
                <li>
                    <p>varied and organized so that access to them is accessible to all;</p>
                </li>
                <li>
                    <p>to have qualified personnel;</p>
                </li>
                <li>
                    <p>to have computerized programs that meet international norms;</p>
                </li>
                <li>
                    <p>be connected to national and international information networks.</p>
                </li>
            </ul>
        </div>
        <div class="index-content_2">
            <div class="indent">
                <p>Services offered free of charge</p>
                <p> Cultural and information services.</p>
                <p>Reading, information, and entertainment services provided by:</p>
            </div>
            <ul>
                <li>
                    <p> Adult Loan Office;</p>
                </li>
                <li>
                    <p> Children's Loan Office;</p>
                </li>
                <li>
                    <p> Reading Room / References;</p>
                </li>
                <li>
                    <p>Periodic Reading Room;</p>
                </li>
                <li>
                    <p>Art and Special Collections Hall;</p>
                </li>
                <li>
                    <p>Subsidiaries / Loan Points;</p>
                </li>
                <li>
                    <p> American Corner. </p>
                </li>
            </ul>
            <div class="indent">
                <p>Community information and bibliographic research through the Bibliographic Department, structured on:</p>
            </div>
            <ul>
                <li>
                    <p>Local information;</p>
                </li>
                <li>
                    <p>International information and documentation;</p>
                </li>
                <li>
                    <p>Local bibliography, thematic files, other bibliographies.</p>

                    </p>
                </li>
            </ul>
        </div>
    </div>

</div>
</div>